
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  flex-direction: column;
}

.spinner-border {
  color: #fff;
  margin-bottom: 10px; /* optional: adds a bit of space between the spinner and the text */
}

.loading-text {
  color: #fff;
  font-size: 16px;
}


